/target/
/dbvolution.log
/SerializableTest.obj
/retrieveRowWithByteArray.jpg
/dbvolutionTest.sqlite
/directTest.h2db.mv.db
/directTest.h2db.trace.db
/nb-configuration.xml
/nbactions.xml
/nbproject/
/hs_err_pid13732.log
/hs_err_pid13789.log
/dbvolutionTest.sqlite-journal
/directTest.h2db.mv.db.h2.db
/directTest.h2db.mv.db.trace.db
/hs_err_pid10368.log